{
  "version": 1,
  "minor_version": 1,
  "key": "core.config",
  "data": {
    "latitude": 50.3066,
    "longitude": 18.7764,
    "elevation": 0,
    "unit_system": "metric",
    "location_name": "Dom",
    "time_zone": "Europe/Warsaw",
    "external_url": null,
    "internal_url": null,
    "currency": "PLN"
  }
}